.setting {
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  right: 23%;
  z-index: 0;
}
.setting-container {
  background-color: rgb(155, 77, 224);
  border-radius: 20px;
}
