.topRank {
  width: 100%;
}

.toprank-items {
  margin-top: 30px;
  .item-content {
    display: flex;
  }
}
.toprank-item {
  margin-right: 20px;
  .item-title {
    margin-bottom: 20px;
  }
  .toprank-img {
    margin-bottom: 5px;
    img {
      width: 100%;
      height: 50%;
      border-radius: 10px;
    }
  }
  .toprank-description {
    color: rgb(145, 145, 145);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    h4 {
      color: #fff;
      font-weight: 600;
      font-size: 1.5rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
    span {
      margin-right: 5px;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
