.zingchart {
  background-color: var(--primary);
  width: 100%;
  // padding: 0 50px;
  // padding-right: 270px;
}
.zingchart-conatiner {
  .zingchart-title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 3rem;
      font-weight: 800;
      color: #fff;
      margin-right: 10px;
    }
    .title-icon {
      background-color: rgb(139, 69, 202);
      height: 30px;
      width: 30px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      .iconPlay {
        margin-left: 10px;
        margin-top: 5px;
      }
    }
  }
}
.zingchart-data {
  position: relative;
}
.img-bg {
  position: relative;
  .backg-zing {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-image: url(/public/imgbackground/zingweek.jpg);
  }
  .backg-ap {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(180deg, hsla(279, 95%, 51%, 0.311) 37%, var(--layout-bg));
  }
  .backg-ap1 {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
    background-image: linear-gradient(180deg, var(--layout-bg), var(--layout-bg));
  }
}
.row-rank {
  // position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  .row {
    margin-top: 20px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.204);
    opacity: 0.5;
  }
  .row + .row {
    margin-top: 60px;
  }
}
//   .chart-data {
//     width: 100%;
//     height: 100%;
//     transform-origin: bottom left;
//     transform: scale(0.514);
//     .line-chart {
//       z-index: 1;
//       list-style: none;
//       padding: 0;
//       margin: 0;
//     }
//   }
//   .line-li {
//     display: list-item;
//     text-align: -webkit-match-parent;
//     height: var(--x);
//     width: var(--y);
//     .data-point{
//       z-index: 1;
//       background-color: var(--element-color);
//       width: 7px;
//       height: 7px;
//       position: absolute;
//       border-radius: 50%;
//       transform: translateX(-50%);
//       bottom: var(--y);
//       left: var(--x);
//     }
//     .data-point.color-1 {
//       border: 3px solid #4a90e2;
//     }
//     .data-line.color-1 {
//       background-color: #4a90e2;
//       bottom: calc(var(--y) + 5px);
//       height: 2px;
//       left: calc(var(--x) + 3.5px);
//       position: absolute;
//       transform: rotate(calc(var(--angle) * 1deg));
//       transform-origin: left bottom;
//       width: calc(var(--hypotenuse) * 1px + 1px);
//     }
//   }
.time-rank {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 290px;
  font-size: 1.3rem;
}

.zingchart-ranks {
  margin-top: 50px;
}
.rank-items {
  width: 100%;
  .rank-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 60px;
    width: 100%;
    border-radius: 10px;
    &:hover {
      background-color: rgba(202, 198, 207, 0.124);
    }
    &:hover .icon-center {
      display: block;
    }
    &:hover .right-title{
      display: none;
    }
    
  }
}
.rank-item-left {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
}
.left-item-right {
  text-align: center;
  width: 55px;
  .zingchart-rank,
  .zingchart-rank1,
  .zingchart-rank2,
  .zingchart-rank3 {
    font-size: 3rem;
    color: rgba(74, 144, 226, 0);
    margin-right: 20px;
    font-weight: 900;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
  }
  .zingchart-rank {
    -webkit-text-stroke: 1px rgb(153, 149, 158);
  }
  .zingchart-rank1 {
    -webkit-text-stroke: 1px rgb(75, 142, 224);
  }
  .zingchart-rank2 {
    -webkit-text-stroke: 1px rgb(81, 219, 191);
  }
  .zingchart-rank3 {
    -webkit-text-stroke: 1px rgb(208, 75, 83);
  }
  .line-rank {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    height: 3px;
    background-color: rgb(139, 135, 145);
    width: 15px;
  }
}
.left-item-left {
  display: flex;
  .list-zingchart-img {
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    img {
      border-radius: 5px;
      height: 50px;
      width: 50px;
    }
    .icon-list-zingchart {
      position: absolute;
      left: 45px;
      top: 35px;
      font-size: 2rem;

      .icon-center,
      .img-center {
        position: absolute;
      }
      .icon-center {
        top: -20px;
        left: -25px;
        display: none;
      }
      .img-center {
        top: -30px;
        left: -30px;
        .gif-img {
          height: 20px;
          width: 30px;
          margin: 5px;
          margin-left: -2px;
        }
      }
    }
  }
  .list-zingchart-title {
    display: flex;
    flex-direction: column;
    color: rgb(155, 126, 170);
    font-weight: 600;
    font-size: 1.4rem;
    .name-singer-z {
      color: var(--text-color);
      // color: #fff;
      font-size: 1.8rem;
    }
    .name-songs {
      display: flex;
      align-items: center;
      .name-song-z {
        cursor: pointer;
        color: rgb(82, 76, 91);
        padding-right: 5px;
      }
    }

    // :first-child {
    //   font-size: 1.8rem;
    //   color: var(--text-color);
    // }
    :hover {
      &.name-song-z {
        color: rgb(155, 77, 224);
        text-decoration: underline;
      }
    }
  }
}
.rank-item-center {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  .center-title {
    cursor: pointer;
    :hover {
      color: rgb(155, 77, 224);
      text-decoration: underline;
    }
    p {
      color: rgb(82, 76, 91);
      font-weight: 700;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
.rank-item-right {
  position: relative;
  width: 20%;
  .right-title,
  .item-right-icon {
    position: absolute;
  }
  .right-title {
    right: -30px;
    top: -12px;
    text-align: center;
    p {
      color: rgb(82, 76, 91);
      font-weight: 700;
    }
  }
  .item-right-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -20px;
    font-size: 2rem;
    right: -40px;
    :hover {
      &.p-icon {
        background-color: rgba(202, 198, 207, 0.13);
        cursor: pointer;
      }
    }
    p {
      padding: 10px;
      margin: 0 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      //   background-color: rgba(202, 198, 207, 0.13);
      //   cursor: pointer;
      .right-icon {
        padding-bottom: 10px;
        padding-left: 2px;
      }
      // .heart-icon {
      //   color: red;
      // }
    }
  }
  padding-bottom: 10px;
  padding-left: 2px;
}
.item-btn {
  text-align: center;
  margin-top: 30px;
  :hover {
    background: hsla(0, 2%, 25%, 0.639);
  }
  button {
    font-size: 3rem;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
}

.zingchart-rank-week {
  margin-top: 100px;
  .rank-week-title {
    font-size: 5rem;
    color: #fff;
  }
}
.rank-week-items {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .rank-week-item {
    padding: 20px 0;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.099);
    border-radius: 20px;
    :hover {
      &.week-item {
        background-color: rgba(255, 255, 255, 0.056);
      }
      // .week-items
    }
    .week-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px 5px;
      padding-right: 100px;
      border-radius: 10px;
      margin: 0 10px;
      margin-bottom: 20px;
      // :hover {
      //   background-color: rgba(255, 255, 255, 0.347);
      // }
    }
  }
}
.week-item-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  h1 {
    font-weight: 700;
    color: #fff;
    margin: 5px 10px 5px 30px;
  }
  :hover {
    &.ct-title {
      color: rgb(139, 69, 202);
    }
  }
  :hover {
    &.week-title-icon {
      opacity: 0.6;
    }
  }
}
.week-title-icon {
  background-color: rgb(139, 69, 202);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  .week-iconPlay {
    margin-left: 10px;
    margin-top: 5px;
  }
}
.week-item-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .top-rank {
    display: flex;
    align-items: center;
    .line-rankweek {
      margin-right: 20px;
      border-radius: 3px;
      height: 3px;
      background-color: rgb(139, 135, 145);
      width: 15px;
    }
  }
}
.zingchart-rankweek1 {
  font-size: 3rem;
  color: rgba(74, 144, 226, 0);
  margin-right: 10px;
  font-weight: 900;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
}
.zingchart-rankweek1 {
  -webkit-text-stroke: 1px rgb(153, 149, 158);
}
.music-rank {
  display: flex;
  .rankweek-img {
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    img {
      border-radius: 5px;
      height: 50px;
      width: 50px;
    }
    .icon-rankweek {
      position: absolute;
      left: 45px;
      top: 35px;
      font-size: 2rem;

      .rankweek-icon-center,
      .rankweek-img-center {
        position: absolute;
      }
      .rankweek-icon-center {
        top: -20px;
        left: -25px;
      }
      .rankweek-img-center {
        top: -30px;
        left: -30px;
        .gif-img {
          height: 20px;
          width: 30px;
          margin: 5px;
          margin-left: -2px;
        }
      }
    }
  }
}
.music-rank-title {
  color: rgb(105, 105, 105);
  font-weight: 600;
  font-size: 1.5rem;
  :hover {
    &.name-rank-songs {
      color: rgb(155, 77, 224);
      text-decoration: underline;
    }
  }
  .name-rank-singer {
    color: #fff;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .name-rank-songs {
    cursor: pointer;
  }
}
.week-item-right {
  position: relative;
  margin-left: 15px;
  .week-right-time,
  .week-right-icon {
    position: absolute;
    bottom: -6px;
  }
  .week-right-time {
    left: 35px;
  }
  .week-right-icon {
    display: flex;
    left: -20px;
    top: -22px;
    :hover {
      &.week-p-icon {
        background-color: rgba(202, 198, 207, 0.13);
        cursor: pointer;
      }
    }
    .week-p-icon {
      margin-right: 20px;
      font-size: 2.5rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      // background-color: rgba(202, 198, 207, 0.13);
      .right-icon-week {
        padding-bottom: -2px;
        padding-left: 10px;
      }
    }
  }
}
.bnt-all-rankweek {
  text-align: center;
  margin-top: 30px;
  :hover {
    background: hsla(0, 2%, 25%, 0.639);
  }
  button {
    font-size: 2rem;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
}
