.update-vip {
  position: relative;
  .img-banner {
    img {
      width: 100%;
    }
  }
}
.update-vip-container {
  position:fixed    ;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  .update-vip-content {
    overflow: hidden;
  }
}
