.update-vip {
  position: relative;
  .img-banner {
    img {
      width: 100%;
    }
  }
}
.update-vip-container {
  position: absolute;
  top: 0;
  margin-top: var(--default-layout-header-height);
  width: 100%;
  display: flex;
  justify-content: center;
  .update-vip-content {
    overflow: hidden;
  }
}
.img-faveicon {
    text-align: center;
}