.update-vip {
  position: relative;
  min-height: 3760px;
  .img-banner {
    img {
      width: 100%;
      height: 600px;
    }
  }
}
.update-vip-container {
  position: absolute;
  top: 0;
  margin-top: calc(var(--default-layout-header-height) - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  .update-vip-content {
    overflow: hidden;
  }
}
.img-faveicon {
  text-align: center;
}
.header-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: var(--white);
  font-family: 'SFCompactDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  p {
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
  }
}

.content-header-offer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .offer-items {
    display: flex;
    padding: 0 50px;
    padding-bottom: 50px;
  }
}
.offer-item {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 13px 30px 0 rgba(38, 88, 180, 0.2);
  padding-bottom: 50px;
  margin-right: 50px;
}
.offer-img {
  img {
    border-radius: 50px;
  }
}
.time-offer {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: #444444;
  letter-spacing: 0.1em;
  line-height: 1;
  .line-offer {
    width: 10rem;
    height: 1px;
    display: block;
    border: solid 1px #979797;
    margin: 20px auto;
  }
}
.money-offer {
  text-align: right;
  color: #801a81;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 5rem 1.7rem;
  display: inline-block;
  line-height: 1;
}
.new-price {
  display: flex;
  margin-bottom: 10px;
  .befor-dot {
    float: left;
    font-size: 7rem;
    font-weight: 900;
  }
}
.old-price {
  color: #7c7d80;
  font-size: 2rem;
  font-weight: normal;
  text-decoration: line-through;
}
.btn-buy {
  margin-top: 50px;
  text-align: center;

  .btn {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    padding: 15px 50px;
    background-color: #ffd94e;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 25px 0 rgba(255, 217, 78, 0.47);
    }
  }
}
.content-body {
  width: 100%;
  .banner-body {
    display: flex;
    justify-content: center;
    img {
      width: 70%;
    }
  }
}
.content-body-offer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .offer-package-items {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
}
.offer-package-item {
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 13px 30px 0 rgba(38, 88, 180, 0.2);
  padding-bottom: 10px;
}

.offer-package-img {
  height: 50%;
}
.offer-package-content {
  position: absolute;
  top: 5%;
  left: 5%;
}
.offer-package-time {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.1em;
  line-height: 1;
  .line-package {
    width: 10rem;
    height: 1px;
    display: block;
    border: solid 1px var(--white);
    margin: 10px 0;
  }
}
.offer-package-description {
  width: 70%;
  color: var(--white);
  font-size: 1.8rem;
}
.money-offer-package {
  text-align: left;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  line-height: 1;
}
.new-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .befor-dot {
    float: left;
    font-size: 7rem;
    font-weight: 900;
  }
}
.offer-package-dowload {
  position: absolute;
  margin-top: 10px;
  bottom: 45px;
  left: 70px;
  .download-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #444444b7;
    span {
      font-size: 2.3rem;
      font-weight: bold;
      color: #000;
      margin: 0 5px;
    }
  }
}
.dowload-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .app {
    margin-right: 30px;
  }
}

.content-quesition {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.heading-quesition {
  text-align: center;
  font-size: 3rem;
  color: #000;
  font-weight: bold;
  width: 70%;
  font-family: 'SFCompactDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  p {
    color: #00000098;
  }
}
.content-utilities {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.utilities-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
}
.utilities-item {
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  width: 25%;
  text-align: center;
  padding: 0 10px;
  .utilities-title {
    text-align: center;
    margin: 0px 70px;
  }
}

.content-feature {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
.body-feature {
  font-family: 'SFCompactDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  .heading-feature {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}
.content-items {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.content-left-item {
  margin-right: 30px;
  .feature-left-items {
    .feature-left-item {
      width: 70%;
      margin-bottom: 30px;
      .left-item-title {
        span {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
.update-vip-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-img {
    img {
      width: 100%;
      // height: 300px;
    }
  }
}
.footer-bottom {
  padding-bottom: 30px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
  }
  span {
    margin-left: 10px;
    color: #888;
    font-weight: 300;
  }
}
.footer-contact {
  margin-top: 20px;
  .contact-itmes {
    display: flex;
    justify-content: center;
  }
}
.contact-item {
  margin-right: 10px;
  display: flex;
  align-items:baseline;
  font-size: 1.8rem;
  color: rgba(113, 109, 109, 0.9960784314);
  font-weight: bold;
  p {
    margin-left: 5px;
    font-size: 2rem;
    color: #cccccc98;
  }
}
