.home {
  background-color: var(--primary);
  width: 100%;
  // padding: 0 50px;
  // padding-right: 270px;
}
.header-slider {
  position: relative;
  cursor: pointer;
  .prev-next {
    position: absolute;
    display: flex;
    width: var(--width-prev-next);
    height: var(--height-slider);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: calc(var(--top-prev-next) - 120px);
    // background-color: red;
    z-index: 1;
    :hover {
      display: block;
    }
    .prev,
    .next {
      font-size: 5rem;
    }
    .prev {
      padding-right: 10px;
    }
  }
}
.img-slider-items {
  position: relative;
  display: flex;
  width: var(--width-slider);
  height: var(--height-slider);
  overflow: hidden;
}
.slider__img {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-right: 10px;
  .img-sl {
    width: 370px;
    height: 215px;
    border-radius: 10px;
  }
}
.zing-chart {
  margin-top: 20px;
  h2 {
    font-weight: 700;
  }
  .zing-chart-img {
    margin-top: 10px;
    border-radius: 10px;
    img {
      margin-bottom: 5px;
      border-radius: 10px;
      height: 150px;
      width: 150px;
    }
  }
  p {
    font-weight: 800;
  }
}

.content-home {
  margin-top: 30px;
}
.content-header {
  .header-filler {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
.header-filler-left {
  .btn-filler {
    padding: 10px;
    width: 150px;
    border: 1px solid rgba(89, 84, 96, 0.1);
    background: transparent;
    color: var(--text-color);
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 30px;
  }
  .actve-filler-color {
    background-color: rgb(155, 77, 224);
  }
}
.header-filler-right {
  display: flex;
  align-items: center;
  color: rgba(89, 84, 96, 4);
  font-size: 1.5rem;
  .all-filler {
    margin-right: 10px;
  }
}
//List Music

.list-music {
  margin-top: 20px;
  .list-music-content {
    display: flex;
  }
}
.music-items {
  margin-right: 30px;
  .music-item {
    display: flex;
    margin: 10px;
    margin-left: 0;
  }
}
.list-music-img {
  padding-right: 10px;
  img {
    border-radius: 5px;
  }
}
.list-music-title {
  display: flex;
  flex-direction: column;
  color: rgba(89, 84, 96, 4);
  font-weight: 600;
  font-size: 1.4rem;
  :first-child {
    font-size: 1.8rem;
    color: var(--text-color);
  }
}
