.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-sidebar);
  color: var(--text-color);
  width: var(--default-layout-sibar-width);
  padding: 30px 20px;
  padding-right: 0;
  height: 100%;
}
.logo-zing {
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  img {
    width: 120px;
  }
}
.sidebar-items {
  .top-header {
    border-bottom: 1px solid rgb(118, 115, 121);
    padding-bottom: 10px;
    :hover {
      color: var(--white);
      cursor: pointer;
    }
  }
  .top-bottom {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 316px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    // scrollbar-color: #fff;
    // .sibar-shadow {
    // }
    :hover {
      color: var(--white);
      cursor: pointer;
    }
  }
  .sidebar-top {
    .sibar-top-item {
      display: flex;
      align-items: flex-start;
      font-size: 1.5rem;
      font-weight: 600;
      .live-primary {
        display: flex;
      }
      .active-sibar {
        background-color: rgb(58, 51, 68);
        background-color: var(--white);
        color: var(--white);
      }
    }
  }
}
.sidebar-advertisement {
  padding-right: 10px;
  .sibar-login,
  .sibar-updateVip {
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .adv-title {
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    font-weight: 700;
  }
  .btn-sibar-lg,
  .btn-sibar-vip {
    border-radius: 15px;
    padding: 5px;
    margin: 10px 20px;
    width: 70%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.sibar-login {
  background-color: rgb(155, 77, 224);
}
.sibar-updateVip {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  :hover {
    &.btn-sibar-vip {

    }
   
  }
}
.btn-sibar-lg {
  color: var(--white);
  background-color: rgb(155, 77, 224);
  border: 1px solid var(--white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  :hover {
    background-color: rgba(155, 77, 224, 0.1);
    color: var(--text-color);
  }
}
.btn-sibar-vip {
  color: var(--black);
  background-color: rgb(255, 219, 0);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  :hover {
    background-color: rgba(255, 219, 0, 0.6);
    color: #32323d;
  }
}
.sidebar-bottom {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--default-layout-sibar-width);
  bottom: var(--height-newlist);
  background-color: var(--color-sidebar);
  border-top: 1px solid rgb(118, 115, 121);
  /* margin: 0; */
  padding: 15px;
  left: 0;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
}
