.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  min-height: 10000px;
}
.container {
  margin-top: calc(var(--default-layout-content-margin) + 100px);
  margin-left: 750px;
  width: var(--default-layout-header-width);
  max-width: 100%;
  height: 3000px;
  // overflow: hidden;
  padding: 0 50px;
  // padding: 0 var(--default-layout-horizontal-spacer);
  // border: 2px solid #fff;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
