.category {
  width: 100%;
}
.banner-event {
  margin-top: 30px;
  width: 100%;
  height: 50%;
  .img-banner {
    width: 100%;
    height: 50%;
  }
}
.category-items {
  margin-top: 100px;
  .category-outstanding {
    .outstanding-title {
      font-size: 2rem;
      color: #fff;
    }
    .outstanding-items {
      margin-top: 30px;
      display: flex;
      .outstanding-item {
        position: relative;
        margin-right: 50px;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 2rem;
          color: #fff;
          font-weight: 700;
        }
        .item-img {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
}
