.header-vip {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0 50px;
    padding-top: 20px;
    z-index: 1;
  }
  //Header
  .img-logo {
    width: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 120px;
      margin-left: 20px;
    }
  }
  //Header-right
  .img-user {
    img {
        height: 39px;
        width: 40px;
        border-radius: 50%;
        :hover {
          opacity: 0.8;
        }
      }
  }