.radio {
  height: 1000px;
  width: 100%;
  //   opacity:0.8;
  z-index: 10;
}
h1 {
    z-index: 1;
}
.home {
  background-color: var(--primary);
  width: 100%;
  // padding: 0 50px;
  // padding-right: 270px;
}