.radio {
  background-color: var(--primary);
  width: 100%;
  .radio-container {
    position: relative;
    margin-top: 50px;
    z-index: 0;
  }
}

.prev,
.next {
  position: absolute;
  top: 55px;
  font-size: 5rem;
  z-index: 1;
  cursor: pointer;
}
.prev {
  float: left;
  left: -5px;
}
.next {
  float: right;
  right: -50px;
}
.radio-header-tiltle {
  display: flex;
  justify-content: space-between;
  color: #fff;
  h2 {
    font-weight: 700;
  }
  .title-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(139, 135, 145);
    p {
      margin-right: 10px;
    }
  }
}
.radio-items {
  margin-top: 30px;
  display: flex;
  align-items: center;
  .radio-item {
    margin-right: 15px;
  }
  .item-content {
    position: relative;
    &:hover .play-radio-icon {
      display: block;
    }
    &:hover .img-lare .img-radio {
      transform: scale(1.1);
      opacity: 0.5;
    }
    .play-radio-icon {
      position: absolute;
      display: none;
      font-size: 4rem;
      top: 70px;
      left: 65px;
    }
    .live-radio {
      position: absolute;
      top: 175px;
      left: 65px;
      background-color: red;
      border-radius: 5px;
      font-size: 1.2rem;
      padding: 0 10px;
    }
  }
}
.item-img {
  position: relative;
  .img-lare {
    height: 184px;
    width: 185px;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgb(255, 75, 74);

    .img-radio {
      height: 176px;
      width: 176px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      object-fit: cover;
      transition: 0.4s linear;
    }
  }
  .img-small {
    position: absolute;
    top: 140px;
    left: 115px;
    height: 100%;
    width: 100%;
    .img-radio-sm {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}
.radio-title {
  margin-top: 10px;
  width: 165px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(89, 84, 96, 5);
  font-weight: 700;
  .radio-name {
    color: #fff;
  }
}

.radio-channel {
  margin-top: 100px;
  .channel-container {
    display: flex;
    position: relative;
    .prev-channel,
    .next-channel {
      position: absolute;
      top: 55px;
      font-size: 8rem;
      z-index: 1;
      cursor: pointer;
    }
    .prev-channel {
      float: left;
      left: 175px;
      top: 170px;
    }
    .next-channel {
      float: right;
      right: 5px;
      top: 165px;
    }
  }
}

.channel-left {
  position: absolute;
  .channel-time {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
}
.channel-left-content {
  background-color: rgb(45, 39, 56);
  padding: 20px 30px;
  padding-bottom: 0px;
  border-radius: 10px;

  .left-content-img {
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
    :hover {
      // background-color: #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      &.img-channel {
        opacity: 0.5;
      }
    }
    .img-channel {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      z-index: 0;
    }
    .play-channel-icon {
      position: absolute;
      font-size: 8rem;
      top: 10px;
      left: 10px;
      z-index: 10;
    }
  }
}
.channel-right {
  margin-left: 160px;
  .channel-right-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.right-item {
  margin-left: 20px;
  .channel-time {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    // text-align: center;
  }
}
.right-item-top {
  display: flex;
  .item-top-left,
  .item-top-right {
    display: flex;
    margin-right: 30px;
  }
}
.top-left-frist,
.top-left-second,
.top-right-frist,
.top-right-second {
  background-color: rgb(45, 39, 56);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.left-frist-content,
.left-second-content,
.right-frist-content,
.right-second-content {
  display: flex;
  justify-content: space-between;
  .frist-img,
  .second-img {
    .img-fs,
    .img-sc {
      height: 100px;
      width: 100px;
      border-radius: 10px;
    }
  }
  .frist-title,
  .second-title {
    margin-left: 10px;
    font-size: 2rem;
    color: rgb(116, 111, 122);
    font-weight: 700;
    span {
      color: #fff;
    }
  }
}

.right-item-bottom {
  margin-top: 20px;
  .item-bottom {
    background-color: rgb(45, 39, 56);
    border-radius: 10px;
    .item-bottom-content {
      padding: 10px;
      display: flex;
    }
  }
}
.bottom-content-img {
  margin-right: 20px;
  .img-lare {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
}
.bottom-content-title {
  margin-left: 10px;
  font-size: 2rem;
  color: rgb(116, 111, 122);
  font-weight: 700;
  span {
    color: #fff;
  }
}
//Podscast

.podcast {
  margin-top: 50px;
  .podccast-container {
    .podcast-discover,
    .podcast-category,
    .podcast-rank,
    .podcast-practice,
    .podcast-liveshow {
      .cont-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 30px;
        .pos-icon {
          color: rgb(139, 135, 145);
          font-size: 2rem;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.cont-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cont-item {
    position: relative;

    .cont-item-img {
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;

      .pos-img {
        height: 250px;
        width: 260px;
        border-radius: 20px;
        object-fit: cover;
        transition: 0.4s linear;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .cont-item-title {
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      font-size: 2rem;
      font-weight: 700;
      cursor: pointer;
      :hover {
        color: rgb(155, 77, 224);
      }
    }
  }
}

//Podcast Category

.podcast-category {
  margin-top: 100px;
  .cont-items {
    margin-top: 20px;
  }
}

//Rank Podcast - Practice Podcast - Live Show Podcast
.podcast-rank,
.podcast-practice,
.podcast-liveshow {
  margin-top: 50px;
  .podcast-rank-items,
  .podcast-practice-items,
  .podcast-show-items {
    display: flex;
    .rank-items,
    .practice-items,
    .show-items {
      background-color: rgba(45, 39, 56, 0.369);
      // background-image: url("/public/imgradio/podcast/1.jpg");
      border-radius: 20px;
      padding: 10px 0;
      margin-right: 20px;

      .rank-item,
      .practice-item,
      .show-item {
        padding: 20px;
        display: flex;
        cursor: pointer;
      }
      &:hover {
        background-color: rgb(45, 39, 56);
        border-radius: 10px;
      }
    }
    .practice-items,
    .show-items {
      background-color: transparent;
    }
  }
}
.rank-item-left,
.practice-item-left,
.show-item-left {
  display: flex;
  align-items: center;
  .nub-rank,
  .nub-practice {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
  }
  .img-rank,
  .img-practice,
  .img-show {
    margin-left: 10px;
    position: relative;
    .img-rankTop,
    .img-practice-Top,
    .img-show-Top {
      height: 100px;
      width: 100px;
      border-radius: 10px;
    }
    .icon-rank,
    .icon-practice {
      position: absolute;
      top: 35px;
      left: 40px;
      .play-rank,
      .play-practice {
        font-size: 3rem;
      }
    }
  }
}
.rank-item-right,
.practice-item-right,
.show-item-right {
  margin-left: 20px;
  font-size: 1.5rem;
  color: rgb(139, 135, 145);
  font-weight: 700;

  :hover {
    &.active-rankCas,
    &.active-practice-Cas {
      color: rgb(155, 77, 224);
    }
  }
  span {
    color: #fff;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  p {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

//Blur Show Podcast
.podcast-show-items {
  .show-items {
    padding: 10px;
    .show-item {
      position: relative;
      border: 1px solid rgba(99, 96, 96, 0.686);
      border-radius: 20px;
      overflow: hidden;
      .backg-blur {
        position: absolute;
        top: 0;
        left: 0;
      }
      .show-item-right {
        z-index: 0;
      }
    }
  }
}

// Top Podcast
.top-podcast {
  margin-top: 50px;
  // .topPod-container {
  // }
}
.topPod-zingnews {
  margin-top: 50px;
  .zingnews-header {
    display: flex;
    align-items: center;
  }
}
.zingnew-logo {
  background-color: #000;
  padding-top: 5px;
  margin-right: 20px;
  cursor: pointer;
  overflow: hidden;
  &:hover img {
    transform: scale(1.1);
  }
  img {
    height: 50px;
    width: 70px;
    border-radius: 10px;
    object-fit: contain;
    transition: linear 1s;
  }
}
.zingnew-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(139, 135, 145);
  :hover {
    &.active-local {
      cursor: pointer;
      color: rgb(155, 77, 224);
    }
  }
  h2,
  h1 {
    color: #fff;
  }
}
.zingnew-content {
  margin-top: 20px;
  .zn-cont-items {
    display: flex;
    align-items: center;
    .zn-cont-item {
      margin-right: 20px;
      :hover {
        &.cont-item-img {
          overflow: hidden;
          border-radius: 10px;
          // opacity: 0.6;
        }
      }
    }
    .cont-item-img {
      img {
        border-radius: 10px;
      }
      :hover {
        // border-radius: 10px;
        transform: scale(1.1);
        transition: linear 1s;
      }
    }
    .cont-item-title {
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      :hover {
        color: rgb(155, 77, 224);
      }
    }
  }
}
