.newmusic {
  width: 100%;
}
.newmusic-title {
  display: flex;
  align-items: center;
  color: #fff;
  .title-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgb(155, 77, 224);
  }
}
