.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.632);
  position: fixed;
  left: 0;
  z-index: 0;
}
.login-content {
  position: relative;
  top: 5%;
  width: 100%;
  height: 100%;
  .login-img {
    position: absolute;
    img {
      // width: 100%;
      //   height: 100%;
      border-radius: 10px;
    }
  }
  .login-icon {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 999;
    .icon-close {
      font-size: 5rem;
    }
  }
}
.login-zalo {
  position: absolute;
  top: 50%;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 39, 57);
  border-radius: 10px;
  z-index: 999;
  span {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 20px;
  }
}
.zalo-img {
  width: 150px;
  height: 100px;
  object-fit: contain;
  .img-zalo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
