.loadMusic {
  position: fixed;
  bottom: 0;
  background-color: rgb(19, 12, 28);
  width: 100%;
  height: var(--default-height-loadMusic);
  padding: 10px 30px;
  cursor: pointer;
}
.loadMusic-content {
  display: flex;
  align-items: center;
}
.content-left {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 65%;
  .left-img {
    height: 100%;
    padding: 0 10px;
    padding-left: 0;
    .img-mus {
      height: 70px;
      width: 70px;
      border-radius: 5px;
    }
  }
}
.left-name-music {
  display: inline-grid;
  align-items: center;

  :first-child {
    font-size: 2rem;
    font-weight: 600;
  }
  :last-child {
    font-size: 1.6rem;
    color: rgb(99, 99, 101);
    font-weight: 600;
    // :hover {
    //   color: rgb(155, 77, 224);
    //   text-decoration: underlined;
    // }
  }
}
.left-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-left: 40px;
  font-size: 2rem;

  .left-icon-heart,
  .left-icon-ellipsis {
    border: 1px solid transparent;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-right: 50px;
    :hover {
      background-color: rgb(89, 84, 96);
      // height: 30px;
      // width: 30px;
      border-radius: 50%;
      // -moz-border-radius: 50%;
      // -webkit-border-radius: 50%;
    }
    :first-child {
      padding: 10px 10px 8px 8px;
    }
  }
}
.content-center {
  width: 100%;
  .center-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    :hover {
      border: 1px solid rgb(155, 77, 224);
    }
  }
  .top-icon {
    padding: 0 20px;
    font-size: 2.5rem;
  }
  .play {
    position: relative;
    border: 1px solid #fff;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    :hover {
      border: 1px solid transparent;
      color: rgb(155, 77, 224);
    }
    .play-icon-play,
    .play-icon-pause,
    .play-icon-load {
      border: 1px solid transparent;
      position: absolute;
    }
    .play-icon-play {
      left: 16px;
      top: 10px;
    }
    .play-icon-pause {
      left: 13px;
      top: 9px;
    }
    .play-icon-load {
      top: 50%;
      animation: spinner 0.8s linear infinite;
      left: 10px;
      top: 22px;
    }
    @keyframes spinner {
      from {
        transform: translateY(-50%) rotate(0);
      }
      to {
        transform: translateY(-50%) rotate(360deg);
      }
    }
  }
  .shuffle {
    color: rgb(155, 77, 224);
  }
}
.center-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  :hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scaleY(1.5);
  }
  :first-child {
    color: rgb(89, 84, 96);
  }
}
.center-bottom-line {
  width: 100%;
  background-color: rgb(89, 84, 96);
  margin: 0 20px;
  height: 5px;

}
.line-run {
  background-color: transparent;
  animation-name: runLineMusic;
  animation-duration: 302s;
  height: 5px;
  border-radius: 2px;
}
@keyframes runLineMusic {
  0% {
    background-color: #fff;
    width: 0%;
  }
  10% {
    background-color: #fff;
    width: 10%;
  }
  20% {
    background-color: #fff;
    width: 20%;
  }
  30% {
    background-color: #fff;
    width: 30%;
  }
  40% {
    background-color: #fff;
    width: 40%;
  }
  50% {
    background-color: #fff;
    width: 50%;
  }
  60% {
    background-color: #fff;
    width: 60%;
  }
  70% {
    background-color: #fff;
    width: 70%;
  }
  80% {
    background-color: #fff;
    width: 80%;
  }
  90% {
    background-color: #fff;
    width: 90%;
  }
  100% {
    background-color: #fff;
    width: 100%;
  }
}
.content-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  .right-icon {
    padding: 0 10px;
  }
  .icon-line {
    height: 30px;
    width: 1px;
    background-color: rgb(89, 84, 96);
  }
}
