.loadMusic {
  position: fixed;
  bottom: 0;
  background-color: rgb(19, 12, 28);
  width: 100%;
  height: var(--default-height-loadMusic);
  padding: 10px 30px;
}
.loadMusic-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-left {
  display: flex;
  .left-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    .img-mus {
      height: 50px;
      width: 50px;
      border-radius: 5px;
    }
  }
}
