.loadMusic {
  position: fixed;
  bottom: 0;
  background-color: rgb(19, 12, 28);
  width: 100%;
  height: var(--default-height-loadMusic);
  padding: 10px 30px;
  cursor: pointer;
}
.loadMusic-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-left {
  display: flex;
  align-items: center;
  .left-img {
    height: 100%;
    padding: 0 10px;
    padding-left: 0;
    .img-mus {
      height: 70px;
      width: 70px;
      border-radius: 5px;
    }
  }
}
.left-name-music {
  display: inline-grid;
  :first-child {
    font-size: 2rem;
    font-weight: 600;
  }
  :last-child {
    font-size: 1.6rem;
    color: rgb(99, 99, 101, 1);
    font-weight: 600;
    :hover {
);
  color:  rgb(155, 77, 224
    }
  }
 
}
