.loadMusic {
  position: fixed;
  bottom: 0;
  background-color: rgb(19, 12, 28);
  width: 100%;
  height: var(--default-height-loadMusic);
  padding: 10px 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.loadMusic-content {
  display: flex;
  align-items: center;
}
.content-left {
  display: flex;
  align-items: center;
  width: 100%;
  .left-img {
    height: 100%;
    padding: 0 10px;
    padding-left: 0;
    .img-mus {
      height: 70px;
      width: 70px;
      border-radius: 5px;
    }
  }
}
.left-name-music {
  display: inline-grid;
  align-items: center;

  :first-child {
    font-size: 2rem;
    font-weight: 600;
  }
  :last-child {
    font-size: 1.6rem;
    color: rgb(99, 99, 101);
    font-weight: 600;
    // :hover {
    //   color: rgb(155, 77, 224);
    //   text-decoration: underlined;
    // }
  }
}
.left-icon {
  margin-left: 10px;
  padding-left: 10px;
  font-size: 2rem;
  :first-child {
    padding-right: 10px;
  }
  :last-child {
    padding-left: 10px;
  }
}
.content-center {
  width: 100%;
  .center-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .top-icon {
    padding: 0 20px;
    font-size: 2.5rem;
  }
  .play {
    position: relative;
    border: 1px solid #fff;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    .play-icon {
      position: absolute;
      left: 16px;
      top: 10px;
    }
  }
}
.center-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.center-bottom-line {
  width: 50%;
  background: rgb(89, 84, 96);
  height: 5px;
  margin: 0 15px;
  border-radius: 2px;
  animation-
}
@keyframes runLineMusic {
  0% {
    background-color: #fff;
  }
  10% {
    background-color: #fff;
  }
  20% {
    background-color: #fff;
  }
  30% {
    background-color: #fff;
  }
  40% {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  60% {
    background-color: #fff;
  }
  70% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  90% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
.content-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
