.mv {
  width: 100%;
}
.mv-header {
  border-bottom: 1px solid rgb(47, 39, 57);
  padding: 5px 0;
  display: flex;
  align-items: center;
  .mv-title {
    border-right: 1px solid rgb(47, 39, 57);
    margin-right: 20px;
    padding: 0 10px;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
  }
}
.mv-country {
  font-size: 2rem;
  display: flex;
  .name-ctr {
    position: relative;
    margin-right: 50px;
    font-size: 1.5rem;
    :hover {
      color: #fff;
    }
    .ctr-vn,
    .ctr-usk,
    .ctr-kp,
    .ctr-ht {
      position: absolute;
      width: 100%;
      left: -5px;
      top: 150%;
      border-bottom: 2px solid rgb(155, 77, 224);
    }
    span {
      cursor: pointer;
      font-weight: 600;
      // color: #ffffff8a;
    }
  }
}
.mv-content {
  margin-top: 20px;
}

//MV - VN
.mvvn,
.mvusk,
.mvkp,
.mvht {
  .mvvn-container,
  .mvusk-container,
  .mvkp-container,
  .mvht-container {
    .vn-header,
    .usk-header,
    .kp-header,
    .ht-header {
      .header-filler {
        display: flex;
        .btn-all,
        .btn-listien {
          :first-child {
            margin-right: 10px;
            margin-left: 0px;
          }
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 30px;
          padding-left: 10px;
          border-radius: 25px;
          background-color: rgb(47, 39, 57);
          font-size: 2rem;
          p {
            margin-right: 10px;
          }
          .icon-search {
            position: relative;
            margin-left: 10px;

            .list-search {
              position: absolute;
              top: -10px;
              font-size: 2rem;
            }
          }
        }
      }
    }
    .vn-content,
    .usk-content,
    .kp-content,
    .ht-content {
      margin-top: 30px;
      .content-items {
        display: flex;
        // flex-wrap: wrap;
        .content-item {
          margin-right: 20px;
          .mv-img {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            :hover {
              opacity: 0.5;
            }
            :hover {
              &.i-play {
                display: block;
              }
            }
            :hover {
              &.i-time {
                border-radius: 10px;
                transform: scale(1.1);
                transition: linear 2s;
              }
            }
            .i-time {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
.s-time,
.i-play {
  position: absolute;
}
.i-play {
  display: none;
  font-size: 6.5rem;
  top: 25%;
  left: 12%;
}
.s-time {
  top: 79%;
  font-size: 1.5rem;
  left: 84%;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
}
.mv-sigle {
  display: flex;
  margin-top: 20px;
  .sig-img {
    margin-right: 20px;
    img {
      height: 55px;
      width: 55px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}
.sig-name {
  color: rgb(89, 83, 97);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  :hover {
    &.name-sog {
      color: rgb(155, 77, 224);
    }
  }
  :hover {
    &.name-sig {
      color: rgb(155, 77, 224);
      text-decoration: underline;
    }
  }
  .name-sog {
    color: #fff;
    font-size: 1.8rem;
  }
}
//Fillter All
.btn-all {
  position: relative;
  .list-fillter-all {
    position: absolute;
    top: 43px;
    left: 10px;
    z-index: 1;
    width: 320%;
  }
}
.list-all {
  background-color: rgb(52, 34, 79);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  .list-items {
    display: flex;
    width: 100%;
    height: 100%;
    .list-item {
      width: 100%;
      p {
        font-size: 1.8rem;
        font-w
      }
    }
  }
}
