.mv {
    width: 100%;
}
.mv-header {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    .mv-title {
        border-right: 1px solid #fff;
        margin-right: 20px;
        padding: 0 10px;
        font-size: 2rem;
        color: #fff;
    }
}