.theme {
    width: 100%;
    margin-top: calc(var(--default-layout-header-height) + 210px);
    display: flex;
    justify-content: center;
    opacity: 0.5;

}
.theme-container {
    background-color: #fff;
    height: 500px;
    width: 500px;
    z-index: 1;
}