.theme {
  width: 100%;
  margin-top: calc(var(--default-layout-header-height) + 210px);
  display: flex;
  justify-content: center;
background
}
.theme-container {
  height: 500px;
  width: 500px;
  z-index: 0;
}
.theme-content {
  background-color: #fff;
  height: 500px;
  width: 500px;
}
