.support-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SFCompactDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}
