.support {
  padding: 20px 10px;
  .support-container {
    padding: 10px 20px;
  }
}

.support-heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: 'SFCompactDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  span {
    margin-left: 10px;
    color: #ffd94e;
    font-size: 4rem;
  }
}

.support-content {
  margin-top: 50px;
}
.content-items {
  .content-item {
    color: #000;
    font-weight: 300;
    .line {
      width: 100%;
      height: 1px;
      background-color: #0000003d;
      margin: 20px 0;
    }
  }
}
.item-list {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 2rem;
  color: #999595;
  margin-bottom: 50px;
  .item-list-permission {
    display: flex;
    align-items: center;
    font-weight: ;
    p {
        color: #000;
        font-size: 2.5rem;
    }
    span {
      margin-left: 10px;
    }
  }
}
